<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="shortcut icon" href="#" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
  <title>Produccion</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css"
    integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous" />
  <link rel="icon" href="resources/images/fevicon.png" type="image/png" />
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap5.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.0.2/dist/sweetalert2.min.css" />

  <style>
     body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f200;
            margin: 0;
            padding: 0;
          
        }
.texto{
  text-align: justify;
}
    .maintenance-container {
      text-align: center;
      margin-top: 50px;
      border: 2px solid #ccc;
      border-radius: 10px;
      padding: 20px;
      max-width: 800px;
      background-color:rgba(255, 255, 255, 0.87);
      margin-left: auto;
      margin-right: auto;
    }

    .maintenance-title {
      font-size: 30px;
      color: rgb(0, 0, 0);
      font-weight: bold;
    }

    .maintenance-image {
      max-width: 100%;
    }
  </style>
</head>

<body>
  <div class="maintenance-container">
    <h1 class="maintenance-title">Caja cerrada</h1>
    <p class="texto">Su caja esta cerrada, solicite al encargado de finanzas para habilite su caja.</p>

        <h4 >Gracias por tu apoyo!!</h4>
    <img src="resources/images/logo/caja_c.png" alt="Imagen de mantenimiento" class="maintenance-image">
    
  </div>
</body>

</html>
